@font-face {
    font-family: 'OBO Star';
    src: url('/src/fonts/OBOStar.woff2') format('woff2'),
        url('/src/fonts/OBOStar.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'OBO Star', sans-serif;
}